.input {
  border: 1px solid #fff;
  background-color: rgba(237, 237, 237, 0.7);
  opacity: 90%;
  font-size: 1.2rem;
  padding: 1em;
  width: 100%;
  cursor: text;
  &::placeholder {
    color: rgba( 0, 0,  0,0.5);
    font-size: 0.9rem;
  }

}
.input:active,
.input:focus {
  outline: none;
}

@media (min-width: 450px) {
  .button {
    padding: 1em 2em;
  }
}
